.talk-box {
    width: 100%;
}

.talk-box .talk-header {
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.talk-box .talk-content {
    overflow-y: auto;
    padding: 0 5px;
    border-radius: 5px;
    box-sizing: border-box;
}

.talk-box .talk-content .talk-content-more {
    text-align: center;
    font-size: 10px;
}

.talk-box .talk-footer {
    position: relative;
}

.talk-box .talk-footer>span {
    position: absolute;
    left: 2px;
    top: -18px;

    display: inline-block;
    padding: 0 5px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    border-radius: 8px;
    background-color: red;

    color: white;
}

.talk-box .talk-footer .talk-footer-input-box {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
}

