.statistic-admin-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statistic-admin-box .btn-box {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}

.statistic-admin-box .btn-box>button {
    margin-bottom: 10px;
    margin-right: 10px;
}