.index-box {
    padding-top: 45px;
    padding-bottom: 54px;
}

.index-box .navbar-title {
    position: relative;
}

.index-box .navbar-title>input {
    width: 100%;
    background-color: rgba(200,200,200,0.2);
    border: none;
    outline: none;
    line-height: 24px;
    border-radius: 13px;
    padding: 2px 13px 2px 29px;
    font-size: 16px;
}
.index-box .navbar-title>span {
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);

    color: #1890ff;
}
.index-box .navbar-title>span>svg {
    font-size: 20px;
    font-weight: bold;
}

.index-box .type-box {
    padding-top: 5px;
    text-align: center;
}
.index-box .type-box>span {
    color: #1890ff;
    font-size: 16px;
    font-weight: bold;
}
.index-box .type-box>.anticon-heart{
    margin: 0 5px;
    color: red;
}
.index-box .type-box>.anticon-heart>svg{
    font-size: 12px;
}